* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(-45deg, #001c00, #122410, #64805b, #001c00);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

canvas {
  /*   display: block; */
}

main {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* you can even add animations on these... */
.answerText {
  color: whitesmoke;
  font-size: 2em;
  z-index:100;
  position: fixed;
  animation-name: hide;
  animation-direction:normal;
  animation-timing-function:ease-out;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-iteration-count: 1; 
}

@keyframes hide {
  0% {
/*     opacity: 1; */
    transform:translateX(0)
  }
  100% {
/*     opacity: 0; */
    transform:translateX(30px)
  }
}

.buttonContainer {
  /* border: gold 5px dotted; */
  position: fixed;
  top: 70%;
	left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  z-index:10;
}

.myButton {
  position: relative;
  z-index: 1;
  padding: 10px;
  z-index:10;
  font-family: 'Libre Baskerville', serif;
}

.myInput {
  position: relative;
  z-index: 1;
  padding: 10px;
  z-index:10;
}

.description-1{
	font-family: 'Libre Baskerville', serif;
	font-weight:0;
	font-size: 12px;
	position:relative;
	color: ghostwhite;
	text-align: center; 
  z-index:10;
  padding:10px;
}
.center{
	position: fixed;
  display: flex;
  justify-content: center;
  justify-self:center;
  flex-direction: column;
  align-items:center;
  top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  z-index:10;
}
.logo{
	width:100%;
	height:180px;
}
.logo:hover img{
  height:200px;
  width:auto;
}
.circle {
  background: #a77554;
  border-radius: 50%;
  width: 800px;
  height: 800px;
position: absolute;
left:-400px;
top:400px;
z-index:-150; 
transition: all .5s ease-in-out;
}
.circle:hover {
  transform: scale(.5);
}
.white-butterfly{  
  width:100%;
}
.white-butterfly img{
  top:7%;
  left:2%;
  position: absolute; 
  -webkit-transition: .3s ease-in-out;
	transition: .7s ease-in-out;
  opacity:0.6;
  transform: rotate(-40deg);
}
.white-butterfly:hover img{
  height: 150px;
  transform: rotate(-110deg);
  opacity:1;
}
.white-flower{
  width:100%;
}
.white-flower img{
  top:2%;
  right:10%;
	z-index:0; 
	position:absolute; 
  -webkit-transition: .3s ease-in-out;
	transition: 1s ease-in-out;
  opacity:0.8;
}
.white-flower:hover img{
  height: 250px;
  opacity:1;
}
.animated-butterfly{
  width:100%; 
}
.animated-butterfly img{
  position:absolute;
  top: 80%; 
  right:5%;
  transform: rotate(-50deg);
  opacity:1;
  z-index:-100;
  animation-name: chug;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
@keyframes chug {
  0% {
    transform: translatex(100%);
  }
  25% {
    transform: translatey(-200%);
  }
  75% {
    transform: translatex(-300%);
  }
  100% {
    transform: translatey(100%);
  }
}
.scale{
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  }

  .description-1:hover span {
    font-size:20px;
    color:ghostwhite;
  }

  .explanation2{
  font-family: 'Libre Baskerville', serif, bold;
	font-size: 12px;
  position:absolute;
  color: #001c00;
  background-color: #a77554;
  top:5%;
  left:30%; 
  width:300px;
  padding:10px;
  z-index:0;
  opacity:0.6;
  }
  .explanation2:hover span{
    font-size:20px;
    color:ghostwhite;
  }
  .explanation2:hover{
    opacity:1;
  }

.sparkle-flowers{
  width:100%;
}
  .sparkle-flowers img{
  top:40%;
  left:20%;
	position:absolute;
  -webkit-transition: .3s ease-in-out;
	transition: 1s ease-in-out;
  transform: rotate(40deg);
  opacity:0.6;
}

.sparkle-flowers:hover img{
  height: 250px;
  opacity:1;
}
.lamp{
  width:100%;
}
.lamp img{
  top:40%;
  right:20%;
	z-index:0; 
	position:absolute;
  -webkit-transition: .3s ease-in-out;
	transition: 1s ease-in-out;
  opacity:0.6; 
}

.lamp:hover img{
  opacity: 0;
}
.rocks{
  width:100%;
}
.rocks img{
  width:100%;
  height:auto;
  bottom:-140%;
	position:absolute;
  opacity:0.6;
  z-index:-110;
}
.orange{
  width:100%;
}
.orange img{
  width:50%;
  height:auto;
  top:-30%;
  right:-30%;
	position:absolute;
  opacity:0.6;
  z-index:-110;
  animation-name: rotate;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  50% {

  }
  100% {
    transform: rotate(-360deg);
  }
}
.leaf img{
  width:70%;
  height:auto;
  bottom:-100%;
  right:-15%;
	position:absolute;
  opacity:0.6;
  z-index:-120;
  transform: rotate(40deg);
}
.mom img{
  bottom:-90%;
  left:15%;
	position:absolute;
  opacity:0.6;
  z-index:-115;
  -webkit-transition: .3s ease-in-out;
	transition: 1s ease-in-out;
}
.mom:hover img{
  opacity:1;
  height:660;
  -webkit-transition: .3s ease-in-out;
	transition: 1s ease-in-out;
}

.hidden-text-1{
  font-family: 'Libre Baskerville', serif, bold;
	font-size: 12px;
  position:absolute;
  color: whitesmoke;
  background-color: #a77554;
  top:80%;
  left:10%; 
  width:auto;
  padding:10px;
  opacity:0.5;
  -webkit-transition: .3s ease-in-out;
	transition: 2s ease-in-out;
}
.hidden-text-1:hover{
  opacity:1;
  font-size:20px; 
}
.hidden-text-2{
  font-family: 'Libre Baskerville', serif, bold;
	font-size: 12px;
  position:absolute;
  color: whitesmoke;
  background-color: #a77554;
  top:40%;
  right:10%; 
  width:auto;
  padding:10px;
  opacity:0.5;
  -webkit-transition: .3s ease-in-out;
	transition: 2s ease-in-out;
}
.hidden-text-2:hover{
  opacity:1;
  font-size:20px; 
}
.hidden-text-3{
  font-family: 'Libre Baskerville', serif, bold;
	font-size: 12px;
  position:absolute;
  color: whitesmoke;
  background-color: #a77554;
  bottom:-90%;
  right:5%; 
  width:auto;
  padding:10px;
  opacity:0.5;
  -webkit-transition: .3s ease-in-out;
	transition: 2s ease-in-out;
}
.hidden-text-3:hover{
  opacity:1;
  font-size:20px; 
}
.container{
  font-family: 'Libre Baskerville', serif, bold;
  font-size: 12px;
  color: whitesmoke;
}



 